# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ProstasiaApi.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\Resources\Projects\Prostasia\ProstasiaApi\.idea\.idea.ProstasiaApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
