# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ProstasiaApi.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\lounk\Documents\code\webdev\prostasia\ProstasiaApi\ProstasiaApi\.idea\.idea.ProstasiaApi.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
